body {
    background-color: #E3E3E3;
    color: black;
    font-family: Georgia, serif;
    font-size: 15px;
}

.centering-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    display: flex;
}

.center-column {
    flex: 50%;
    padding: 5px;
}

.column {
    flex: 25%;
    padding: 5px;
}

.about-me-image-black {
    border: 3px dashed #eb1b22;
    margin-top: 40px;
    max-width: 700px;
}

p {
    font-size: 2em;
}

@media only screen and (max-device-width: 970px) {
    .row {
        flex-direction: column;
    }
    
    .center-column {
        order: 1;
        padding: 5px;
    }
    
    .right-column {
        order: 2;
        padding: 5px;
    }

    .left-column {
        order: 3;
        padding: 5px;
    }
}